/* ===============================
   GLOBAL NAVBAR LOCK
================================ */

.navbar {
    background-color: #000000 !important;
    z-index: 1050;
}

/* Prevent page CSS from touching navbar */
body {
    overflow-x: hidden;
}


nav.navbar {
    min-height: 80px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav.navbar .navbar-brand {
    font-size: 1.5rem;
}

nav.navbar .nav-link {
    font-size: 0.85rem;
    letter-spacing: 1px;
}